<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.typekit.net/oov2wcw.css">
    <link rel="stylesheet" href="../styles/fontello.css">
    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/contacts.css">
    <title>FootShop</title>
</head>
<body>
    <div class="container">

        <header>
            <span class="btn_menu icon-menu"></span>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./novelties.html">Novedades</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="./contacs.html">Contactos</a></li>
                    <li><a href="./about.html">Nosotros</a></li>
                    <li><a href="./register.html">Registro</a></li>
                </ul>
            </div>
            <span class="logo">
                <img src="../src/Logo_Blanco.png" alt="" srcset="">
            </span>
        </header>

        <article class="content">

            <section class="content_container">

                <section class="f_component">
                    <h2>Nuestros contactos</h2>
                    <p class="text_comunicate">Comunicate con nosotros por estas vias</p>

                    <div>
                        <label class="material-icons"> location_on </label>
                        <p>Santo Domingo, Distrito Nacional, Av. Wiston Churchill, #254</p>
                    </div>
                    
                    <div>
                        <label class="material-icons"> phone </label>
                        <p>(809)738-4852 / (809)793-2557</p>
                        
                    </div>
                    <div>
                        <p>Lunes - Viernes | 8:00 a.m. - 4:00 p.m.</p>
                        
                    </div>
                    <div>
                        <label class="material-icons"> email </label>
                        <p>footshop@gmail.com</p>
                        
                    </div>

                </section>

                <section class="grid_img">

                    <div class="columns">  
                        <img src="../src/contacts/1.jpg" alt="" class="img_content">
                    </div>

                </section>
            </section>
            
        </article>
        

         <footer class="footer">

            <div class="superior_view">

                <div class="img"></div>

                <div class="community">
                    <span class="community_text">Comunidad</span>
                    <div class="comunity_icons"></div>
                </div>
                
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 FootShop Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/main_jquery.js"></script>

</body>
</html>