<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/fontello.css">
    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/novelties.css">
    <title>FootShop</title>
</head>
<body>
    <div class="container">

        <header>
            <span class="btn_menu icon-menu"></span>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./novelties.html">Novedades</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="./contacs.html">Contactos</a></li>
                    <li><a href="./about.html">Nosotros</a></li>
                    <li><a href="./register.html">Registro</a></li>
                </ul>
            </div>
            <span class="logo">
                <img src="../src/Logo_Blanco.png" alt="" srcset="">
            </span>
        </header>

        <article class="banner">

            <section class="banner_content">
            </section>
            
        </article>
        
        <article class="content">

            <section class="content_container">

                <section class="f_component">
                    <h2>Air Jordan 4 Off-White Sail</h2>
                    <p>Estos tenis son un lanzamiento especial de la mano del diseñador de Off White y la colección masculina de Louis Vuitton, Virgil Abloh. El modelo se aleja de lo clásicos blancos que han invadido el mercado durante los últimos años, para pintarse de un amarillo cremoso que reviste el modelo.

                        <br>
                        <br>

                        Este calzado destaca por tener una inspiración que viene directamente del chunky sneaker, que además tiene una inspiración vintage por la forma en la que la palabra AIR está escrita en la suela, como si fueran una variante que sin problemas, pudo haber sido creada en los 90.</p>
                </section>

                <section class="grid_img">

                    <div class="columns">
                        
                        <img src="../src/novelties/1.jpg" alt="" class="img_content">
                        <img src="../src/novelties/3.jpg" alt="" class="img_content">
                        <img src="../src/novelties/2.jpg" alt="" class="circle">

                        <div class="price_card">
                            <p>Compra por USD$1,499</p>
                            <button>COMPRAR</button>
                        </div>
                        
                    </div>



                </section>
            </section>
            
        </article>
        

         <footer class="footer">

            <div class="superior_view">

                <div class="img"></div>

                <div class="community">
                    <span class="community_text">Comunidad</span>
                    <div class="comunity_icons"></div>
                </div>
                
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 FootShop Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/main_jquery.js"></script>

</body>
</html>