<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/fontello.css">
    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/products.css">
    <title>FootShop</title>
</head>
<body>
    <div class="container">

        <header>
            <span class="btn_menu icon-menu"></span>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./novelties.html">Novedades</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="./contacts.html">Contactos</a></li>
                    <li><a href="./about.html">Nosotros</a></li>
                    <li><a href="./register.html">Registro</a></li>
                </ul>
            </div>
            <span class="logo">
                <img src="../src/Logo_Blanco.png" alt="" srcset="">
            </span>
        </header>
  
        <article class="content">

            <section class="content_container">

                <section class="f_component">
                    <h2>Escoge tu favorito y compralo YA!!!</h2>
                    <p>Tenis de todas marcas al mejor precio del mercado, no dudes en comprar tu favorito.</p>
                </section>

                <section class="grid_img">

                    <div class="columns">

                        <!--1-->
                        <div>
                            <p>Jordan 1 red <br>
                                USD$ 999</p>
                            <img src="../src/products/1.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 6 white <br>
                                USD$ 649</p>
                            <img src="../src/products/2.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 3 white <br>
                                USD$ 649</p>
                            <img src="../src/products/3.jpg" alt="" class="img_content">
                        </div>

                        <!--2-->
                        <div>
                            <p>Nike Air force one <br>
                                USD$ 149</p>
                            <img src="../src/products/4.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Nike Huarache yelow <br>
                                USD$ 249</p>
                            <img src="../src/products/5.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Nike Huarache black <br>
                                USD$ 249</p>
                            <img src="../src/products/6.jpg" alt="" class="img_content">
                        </div>

                        <!--3-->
                        <div>
                            <p>Nike Huarache pink <br>
                                USD$ 249</p>
                            <img src="../src/products/7.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Nike Air 270 red <br>
                                USD$ 199</p>
                            <img src="../src/products/8.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 1 High white <br>
                                USD$ 799</p>
                            <img src="../src/products/9.jpg" alt="" class="img_content">
                        </div>

                        <!--4-->
                        <div>
                            <p>Jordan 4 yelow <br>
                                USD$ 999</p>
                            <img src="../src/products/10.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 11 white <br>
                                USD$ 2499</p>
                            <img src="../src/products/11.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 7 white <br>
                                USD$ 349</p>
                            <img src="../src/products/12.jpg" alt="" class="img_content">
                        </div>

                        <!--5-->
                        <div>
                            <p>Jordan 1 Jbalvin <br>
                                USD$ 3499</p>
                            <img src="../src/products/13.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 11 black <br>
                                USD$ 899</p>
                            <img src="../src/products/14.jpg" alt="" class="img_content">
                        </div>
                        <div>
                            <p>Jordan 11 grey <br>
                                USD$ 1299</p>
                            <img src="../src/products/15.jpg" alt="" class="img_content">
                        </div>
  
                    </div>


                </section>
            </section>
            
        </article>
        

         <footer class="footer">

            <div class="superior_view">

                <div class="img"></div>

                <div class="community">
                    <span class="community_text">Comunidad</span>
                    <div class="comunity_icons"></div>
                </div>
                
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 FootShop Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/main_jquery.js"></script>

</body>
</html>