<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/fontello.css">
    <link rel="stylesheet" href="../styles/template.css">
    <link rel="stylesheet" href="../styles/register.css">
    <title>FootShop</title>
</head>
<body>
    <div class="container">

        <header>
            <span class="btn_menu icon-menu"></span>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="./novelties.html">Novedades</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="./contacs.html">Contactos</a></li>
                    <li><a href="./about.html">Nosotros</a></li>
                    <li><a href="./register.html">Registro</a></li>
                </ul>
            </div>
            <span class="logo">
                <img src="../src/Logo_Blanco.png" alt="" srcset="">
            </span>
        </header>

        <article class="content">

            <section class="content_container">

                <section class="f_component">
                    <h2>Regístrate y adquiere tus tenis</h2>
                    <p>Crea tu cuenta y no dejes que te cuenten, adquiere tus tenis favoritos YA!!!</p>
                </section>

                <section class="frm_register">
                    <form> 
                        <br>
                        <input type="text" name="" class="txt_input" id="name"> <span class="name">Nombre</span>
    
                        <br>
    
                        
                        <br>
                        <input type="text" name="" class="txt_input" id="lastname"> <span class="lastname">Apellido</span>
                        
                        <br>
    
                        
                        <br> 
                        <input type="text" name="" class="txt_input" id="country"> <span class="country">Pais</span>
    
                        <br>
    
                        
                        <br>
                        <input type="text" name="" class="txt_input" id="phone"> <span class="phone">Telefono</span>
    
                        <br>
    
                        
                        <br>
                        <input type="text" name="" class="txt_input" id="email"> <span class="email">Correo</span>
    
                        <br>
    
                        
                        <br>
                        <input type="text" name="" class="txt_input" id="vefy_email"> <span class="vefy_email">Confirmar correo</span>
    
                        <br>
    
                        
                        <br>
                        <input type="text" name="" class="txt_input" id="pass"> <span class="pass">Contraseña</span>
    
                        <br>
    
                       
                        <br>
                        <input type="text" name="" class="txt_input" id="vefy_pass"> <span class="vefy_pass">Confirmar contraseña</span>
                        
                        <br>
                        <br>
    
                        <input type="button" value="Enviar" id="btn_enviar">
                    </form>
                </section>

            </section>

            
            
            
        </article>

        
            
        
        

        <footer class="footer">

            <div class="superior_view">

                <div class="img"></div>

                <div class="community">
                    <span class="community_text">Comunidad</span>
                    <div class="comunity_icons"></div>
                </div>
                
            </div>
            <hr>

            <div class="inferior_view">
                <div class="copyright_footer">
                    <span>© 2021 FootShop Inc. Todos los derechos reservados</span>
                </div>
                <div class="terms_footer">
                    <span>Terminos de uso</span>
                    <span>Politicas de privacidad</span>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/register.js"></script>
    <script src="../js/register_jquery.js"></script>
    <script src="../js/main_jquery.js"></script>


</body>
</html>